/*Import for google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Open Sans', sans-serif;
}


/* Header */
header {
    background-color: #3b3b3b;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #f30611;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;

}

.active {
    border-bottom: 1px solid #ffffff;
}


/* Navbar Style with dropdown toggle*/
nav {
    position: absolute;
    background-color: #3b3b3b;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display:none;
    top: 100%;
}
 /* Nav toggle */
 #nav-toggle:checked~nav {
    display: block;
 }

 #nav-toggle {
    display: none;
 }

 .nav-toggle-label {
    font-size: 2rem;
 }


/* Main content */
main {
    /* Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 47px;
}

/* Clickable Boxes*/

.container img:hover {
    border: 3px solid black;
}

.container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.image-box {
    flex: 1 0 100%;
    box-sizing: border-box;
    margin-right: 5px;
}

.image-box:first-child {
    margin-left: 0;
}

.image-box:last-child {
    margin-right: 0;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Footer */
footer {
    background-color: orange;
}

/* Media query: Tablets and larger */
@media screen and (min-width: 768px) {
    /* Header */

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }
    
    /* Main content */
    main {
        margin-top: 79px;
    }
    .image-box {
        flex: 1 0 30%;
        height: 100vh;
    }

}

/* Large devices (laptops and desktops) */
@media screen and (min-width: 992px) {
    #menu a {
            color: #ffffff;
            position: relative;
            text-decoration: none;
        }
    
    #menu a::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            background-color: #18272F;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
    
    #menu a:hover::before {
            transform-origin: left;
            transform: scaleX(1);
        }
    .image-box {
        flex: 1 0 30%;
    }
}